<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker
    *ngFor="let entry of entries; let i = index"
    (markerClick)="clickedMarker(entry.id, i)"
    [latitude]="entry.latitude"
    [longitude]="entry.longitude"
    [label]="entry.status"
    [markerDraggable]="false"
    (dragEnd)="markerDragEnd(entry, $event)">

    <agm-info-window>
      <div>
        <strong>{{entry.requestStatus | statuspipe}}</strong>
      </div>
      <div>
        {{entry.requestDate | date: 'dd-MM-yyyy hh:mm:ss'}}
      </div>
      <div>
        <a [routerLink]="['/entry', entry.id]"> więcej...</a>
      </div>
    </agm-info-window>

  </agm-marker>


</agm-map>
